*~
*.swp
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bak
*.bbl
*.blg
checkSpelling*
*.dic

__pycache__/
kensLectures/
figures/
old/
practicals/02_LFPs_spectralAnalysis/notes/
data/
results/
notes/
sounds/
mySolution/
