*~
*.swp
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bak
*.bbl
*.blg

__pycache__/
kensLectures/
figures/
old/
practicals/02_LFPs_spectralAnalysis/notes/
worksheets/01_tTestAndRandomizationTests/mySolution/
